.input-container {
  margin-bottom: 50px;
}

.title {
  margin-bottom: 12px;
}

.textarea {
  width: 100%;
  height: 260px; /* 원하는 고정 높이 설정 */
  box-sizing: border-box;
}

/* Quill의 컨테이너 설정 */
.textarea .ql-container {
  height: 100%;
  margin-bottom: 50px;
  padding: auto;
  border: none;
  overflow-y: auto; /* 스크롤이 필요할 때만 표시 */
}

/* Quill 에디터 본문 설정 */
.textarea .ql-editor {
  height: 260px;
  overflow-wrap: break-word; /* 줄바꿈 처리 */
  word-wrap: break-word;
  word-break: break-word;
  box-sizing: border-box;
}
