/* PostHead */
.container {
  max-width: 1200px;
  margin: 0 auto;

  /* Tablet*/
  @media (max-width: 1248px) {
    padding: 0 24px;
  }

  /* Mobile*/
  @media (max-width: 768px) {
    padding: 0;
  }
}
.headBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--Gray300);
}
.contents {
  -webkit-display: flex;
  display: flex;
  align-items: center;
  height: 68px;

  @media (max-width: 768px) {
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: start;
    height: auto;
  }
}
.toName {
  flex: 1;
  color: var(--Gray800);
  font-weight: 600;
  font-size: 28px;

  /* Mobile */
  @media (min-width: 769px) and (max-width: 810px) {
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 25px;
  }
  @media (max-width: 768px) {
    width: 100%;
    padding: 0 24px;
    min-height: 52px;
    line-height: 52px;
    border-bottom: 1px solid var(--Gray300);
  }
}
.servicesContainer {
  -webkit-display: flex;
  display: flex;
  align-items: center;

  /* Mobile */
  @media (max-width: 768px) {
    width: 100%;
    min-height: 52px;
    padding: 0 24px;
  }
}
.AuthorContainer {
  display: flex;
  align-items: center;

  @media (max-width: 520px) {
    display: none;
  }
}
.AuthorContainer .list {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 53px;

  /* Mobile */
  @media (max-width: 600px) {
    display: none;
  }
}
.list li {
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid var(--White);
}
.list li img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.list li:nth-of-type(2) {
  position: absolute;
  left: 15px;
}
.list li:nth-of-type(3) {
  position: absolute;
  left: 30px;
}
.list .num {
  position: absolute;
  left: 45px;
  border: 1px solid var(--Gray200);
  background: var(--White);
  font-size: 12px;
}
.numText {
  font-size: 18px;

  /* Mobile */
  @media (max-width: 650px) {
    font-size: 14px;
  }
}
.numText .strong {
  font-weight: 600;
}
.chooseReaction {
  -webkit-display: flex;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;

  @media (max-width: 768px) {
    flex: 1;
  }
}
.line {
  margin: 0 15px;
  height: 30px;
  border-right: 1px solid var(--Gray200);
}
.sharedLink {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 36px;
  line-height: 36px;
  border: 1px solid var(--Gray300);
  border-radius: 6px;
  align-content: center;
}

.sharedLink img {
  margin-top: -3px;
}

.chooseReaction div,
.chooseReaction img,
.chooseBackdrop,
.sharedLink {
  cursor: pointer;
}

/* EmojiContainer */
.emojiContainer {
  width: calc(100vw * (450 / 1200));
  max-width: 312px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 10px 3%;
  position: absolute;
  top: 50px;
  right: 0;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid var(--Gray400);
  background: var(--White);
  box-shadow: 0 0 30px rgba(30, 30, 30, 0.2);

  /* Mobile */
  @media (max-width: 768px) {
    left: 0;
    min-width: 300px;
  }
  @media (max-width: 350px) {
    left: 0;
    min-width: 280px;
  }
}

.emojiContainer li {
  width: 22%;
  height: 38px;
  padding-top: 2px;
  display: flex;
  justify-content: center;
  border-radius: 32px;
  align-items: center;
  background: rgba(0, 0, 0, 0.54);
  color: var(--White);
  cursor: pointer;
}
.emojiContainer li p:first-child {
  margin-right: 3px;
}
